<div class="row">
	<table>
		<tr>
			<td>Tag:</td>
			<td id="player_name"> <%= session.players_console.gtag %></td>
 		</tr>
		<tr>
			<td>Tagline:</td>
			<td> <%= session.player.tagline %></td>
 		</tr>
 	</table> 
</div>
<div class="row">
	<%= simple_form_for [@player, @recently_added], method: :post do |f| %>
		<%= f.input :referrer, :as => :hidden, :input_html => {:value => session.players_console.id} %>
		<%= f.input :game, :as => :hidden, :input_html => {:value => @console_game.id} %>
		<%= f.button :submit, "Add to Recents",  class: "btn btn-lg btn-primary btn-block session_button", id: "session_button" %>
	<% end %>
</div>