<div class="row">
 <h2><%= session.players_console.gtag %> </h2>
</div>
<div class="row">
 <h2><%= session.player.tagline %> </h2>
</div>
<div class="row">
	<%= simple_form_for [@player, @recently_added], method: :post do |f| %>
		<%= f.input :referrer, :as => :hidden, :input_html => {:value => session.player.id} %>
		<%= f.button :submit %>
	<% end %>
</div>