<div class="container registration">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= simple_form_for(@player, :html => {:class => "form-signin"}, url: player_registration_path(@player))  do |f| %>
       <%= devise_error_messages! %>
      <h2 class="form-signin-heading text-center">Create your account</h2>
        <%= f.label :handle, :class => "sr-only" %>
        <%= f.text_field :handle, :class => "form-control", :placeholder => "Create a handle", :required => true %>

        <%= f.label :email, :class => "sr-only" %>
        <%= f.email_field :email, :class => "form-control", :placeholder => "Enter email", :required => true %>

        <%= f.label :password, :class => "sr-only" %>
        <% if @validatable %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, :class => "form-control", :placeholder => "Enter Password", :required => true, autocomplete: "off"  %>

        <%= f.label "confirm password", :class => "sr-only" %>
        <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => " Confirm Password", :required => true  %>

        <%= f.label :tagline, :class => "sr-only" %>
        <%= f.text_field :tagline, :class => "form-control", :placeholder => "Enter catchy tagline", :required => true %>

        <%= f.submit "Submit", :class => "btn btn-lg btn-primary btn-block"  %>
      <% end  %>    
      
    </div>
  </div>
</div>



<%= render "players/shared/links" %>
