<div class="jumbotron">
	<div class="container">
		<div class="col-md-6">
			<h1 id="tagline">Never Play Alone</h1>
		</div>
		<div class="col-md-3 col-md-offset-1">
			<p><%= @sessions.count  %> players currently online.</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row text-center" id="second_section">
		<div class="col-md-6">
			<h1>Headset Required </h1>
			<p>Multiplayer games are simply more fun when you are with a group of active players.</p>
		</div>
		<div class="col-md-6">
			<h1>How it Works</h1>
			<p>Login, choose a system and game to see other gamers who are playing right now.  Your name will also be added to the now playing list.</p>
		</div>
	</div>
	<div class="row text-center" id="third_section">
		<div class="col-md-6">
			<h1>Break the Ice</h1>
			<p>Answer icebreaker questions about gamers you have played with to earn points and win contests</p>
		</div>
		<div class="col-md-6">
			<h1>Make console gaming fun again</h1>
			<p>Multiplayer games are simply more fun when you are with a group of active players.</p>	
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<ul>
				<li><%= link_to "contact", '#'  %>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 col-md-offset-4 text-center" id="login">
			<%= form_for @player, :url => player_session_path, html: { class: "form-signin"} do |f| %>
				<h2 class="form-signin-heading">Please sign in</h2>
				<%= f.label :email, :class => "sr-only" %>
				<%= f.text_field :email, :class => "form-control", :placeholder => "Email" %>

				<%= f.label :password, :class => "sr-only" %>
				<%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>

				<%= f.submit "Submit", :class => "btn btn-lg btn-primary btn-block" %>
			<% end  %>
		</div>
	</div>
</div>