	<div class="row">
		<div class="col-xs-4 col-xs-offset-4">
			<%= form_for(@player, :html => {:class => "form-signin"})  do |f| %>
			<h2 class="form-signin-heading text-center">Create your account</h2>
				<%= f.label :email, :class => "sr-only" %>
				<%= f.email_field :email, :class => "form-control", :placeholder => "Enter email", :required => true %>

				<%= f.label :password, :class => "sr-only" %>
				<%= f.password_field :password, :class => "form-control", :placeholder => "Enter Password", :required => true  %>

				<%= f.label "confirm password", :class => "sr-only" %>
				<%= f.password_field :nil, :class => "form-control", :placeholder => " Confirm Password", :required => true  %>

				<%= f.submit "Submit", :class => "btn btn-lg btn-primary btn-block"  %>
			<% end  %>		
			
		</div>
	</div>
