<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Recents -->
		<ins class="adsbygoogle" id="recent_ad"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-9121927266889461"
     data-ad-slot="1728247488"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<table class="table table-condensed table-bordered">
			<% flash.each do |key, value| %>
			  <%= content_tag :div, value, class: "flash #{key}" %>
			<% end %>
			<tr>
				<th>Gamertag</th>
				<th>Game</th>
				<th>Date</th>
				<!-- <th>Answer Question</th> -->
			</tr>			
			<% @recents.each do |recent| %>
			<tr>
				<td><%= recent.friend.gtag %></td>
				<td><%= recent.game.name %></td>
				<td><%= recent.created_at.strftime("%m-%d-%y %l:%M") %></td>
				<td><%= button_to 'Guess', player_recently_added_guesses_path(player: "#{recent.player.id}", recently_added_id: "#{recent.id}"), class: "btn btn-primary", method: :get %></td>				
			</tr>
			<% end %>
		</table>
	</div>
</div>