<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<table class="table">
			<tr>
				<th>Gamertag</th>
				<th>Game</th>
				<th>Date</th>
				<th>Answer Question</th>
			</tr>			
			<%= @recents.each do |recent| %>
			<tr>
				<th><%= recent.referrer %></th>
				<th>need to add game functionality</th>
				<th><%= recent.created_at %></th>
				<th><%= simple_form_for @answer_book do |f| %>
				<%= f.input :hidden %> m,

				 </th>
			</tr>
			<% end %>

		</table>
	</div>
</div>